button {
    flex: 1;
    all: unset;
    width: fit-content;
    height: fit-content;
}

.custom-button-container {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;

    align-items: center;
    justify-content: center;

    background: #4d79ff;
    border-color: #1a53ff;
    border-style: solid;
    cursor: pointer;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 15px 40px rgba(0, 0, 0, 0.10);
}

.custom-button-container:hover {
    background: #668cff;
    border-color: #1a53ff;
}

.custom-button-container.small {
    border-radius: 10px;
    border-width: 1px;
}

.custom-button-container.medium {
    border-radius: 20px;
    border-width: 2px;
}

.custom-button-container.large {
    border-radius: 40px;
    border-width: 3px;
}

.custom-button-container.disabled {
    background: #E0E0E0;
    border-color: #B0B0B0;
    cursor: not-allowed;
    box-shadow: none;
}

.custom-button-container.active {
    cursor: progress;
    box-shadow: none;
}

.custom-button-content {
    padding: .75em 1.5em;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    text-wrap: nowrap;
}

.custom-button-content.small {
    font-size: 8px;
}

.custom-button-content.medium {
    font-size: 16px;
}

.custom-button-content.large {
    font-size: 32px;
}

.custom-button-content.disabled {
    color: #B0B0B0;
}

.custom-button-content.active {
    visibility: hidden;
    opacity: 0;
}

