.grid--container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-title {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 20%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.grid-title.bot {
    height: 40%;
}

.grid-inner-container {
    height: 80%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-inner-container.bot{
    height: 60%;
}