.followers-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    
    gap: 10px;
}

.followers-header-container {
    height: fit-content;
}

.followers-list-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    gap: 5px;
}